.asessmentContainer{
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 200px;
    margin-top: 50px;
}

.APassesstext{
    font-family: 'omnesregular';
    text-align: center;
    margin-bottom: 80px;
}