@keyframes gradient{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

.HPheader{
    background-image: url(../images/bg.JPG);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.HPnavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.HPnavbar-logo #HPlogo{
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    width: auto;
}

#HPloginbutton, #HPregisterbutton{
    margin-top: 10px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.3s;
}

#HPloginbutton:hover, #HPregisterbutton:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
    transition: 0.3s;
}

#HPloginbutton{
    margin-right: 20px;
}

.HPtitle{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.HPcompname, .HPslogan{
    white-space: nowrap;
}

.HPcompname{
    font-family: 'omnesbold', Arial, sans-serif;
    font-size: 90px;
    line-height: 80px;
    font-weight: 600;
    color: white;
}

.HPslogan{
    font-family: 'omnesbold', Arial, sans-serif;
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
    margin-bottom: 20px;
    background-image: linear-gradient(-45deg, #FF1B6B, #BA5CA2, #7B97D4, #45CAFF);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

.HPassessments{
    margin-bottom: 200px;
}

.HPassesstext{
    margin-top: 80px;
    margin-bottom: 70px;
    text-align: center;
    font-family: 'omnesbold', Arial, sans-serif;
    font-size: 50px;
    line-height: 80px;
    font-weight: 500;
}

.HPcircle-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}
  
.HPcircle1, .HPcircle2, .HPcircle3{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    background: linear-gradient(-45deg, #FF1B6B, #BA5CA2, #7B97D4, #45CAFF);
    border: 5px solid transparent;
    background-clip: padding-box; 
    margin-bottom: 50px;
}
  
.HPinner-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000000;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}

.HPcircleText{
    margin: 20px;
}

.hidden{
    display: none;
}

.HPmoreinfo{
    display: flex;
    flex-direction: row;
    height: 70vh;
}

.HPleft{
    flex: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'omnesbold', Arial, sans-serif;
    background: linear-gradient(45deg, #FF1B6B, #BA5CA2, #7B97D4, #45CAFF);
}

.HPleft #leftTitle{
    font-size: 50px;
}

.HPmoreText{
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
}

.HPright{
    flex: 3;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.footerinfo{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.footerinfo .footerDiv{
    margin: 20px;
    flex-grow: 1;
}

.footerinfo #footerlink{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px){

    .HPcompname{
        font-size: 60px;
    }

    .HPslogan{
        font-size: 50px;
        line-height: 60px;
    }

    .HPcircle-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .HPleft{
        flex: 1.5;
    }

    .HPleft #leftTitle{
        font-size: 40px;
    }

    .HPmoreText{
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .footerinfo .footerDiv{
        margin: 5px;
        flex-grow: 1;
    }
}

@media screen and (max-width: 500px){

    .HPcompname, .HPslogan{
        line-height: 30px;
    }

    .HPcompname{
        font-size: 40px;
    }

    .HPslogan{
        font-size: 40px;
        line-height: 60px;
    }

    .HPassesstext{
        font-size: 40px;
    }

    .HPcircle-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .HPleft{
        flex: 1.5;
    }

    .HPleft #leftTitle{
        font-size: 30px;
    }

    .HPmoreText{
        font-size: 13px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .footerinfo .footerDiv{
        margin: 2px;
        flex-grow: 1;
    }
}

