.LGlogin-container{
    background: linear-gradient(45deg, #FF1B6B, #BA5CA2, #7B97D4, #45CAFF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: auto;
}

.navbar-login{
    margin-right: 15px;
    color: black;
    font-family: 'omnesbold', Arial;
}

.LGlogin, .LGforgot{
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
}

.LGlogin #loginh2, .LGforgot #registerh2{
    font-family: 'omnesregular', Arial, sans-serif !important;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

<<<<<<< HEAD
#userfield{
    margin-bottom: 20px;
}

=======
>>>>>>> dev
.form-control{
    border: 2px solid black; 
}

.forgotpass{
<<<<<<< HEAD
=======
    margin-top: 5px;
>>>>>>> dev
    margin-bottom: 20px;
}

.forgotpass #forgot-btn{
    background: none;
    border: none;
    color: #000000;
    font-size: 14px;
    transition: 0.3s;
}

.forgotpass #forgot-btn:hover{
<<<<<<< HEAD
    color: #45AAFF;
=======
    color: blue;
>>>>>>> dev
    transition: 0.3s;
}

.LGholder{
    text-align: center;
    margin-bottom: 30px;
}

#needaccount{
    text-decoration: none;
    color: black;
}

#needaccount:hover{
<<<<<<< HEAD
    color: #45AAFF;
=======
    color: blue;
>>>>>>> dev
    transition: 0.5s;
}

#submitbtn{
    margin-bottom: 10px;
    background-color: black;
    transition: 0.3s;
}

#submitbtn:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    transition: 0.3s;
}

#sendResetPasswordEmailBtn{
    text-align: center;
    margin-top: 20px;
    background-color: #000000;
    transition: 0.3s;
}

#sendResetPasswordEmailBtn:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.3s;
}

#forgotPasswordSuccessMessage{
    margin-top: 20px;
}

.HPback{
    text-align: center;
    margin-bottom: 20px;
}

.HPback #backbtn{
    border: none;
    background-color: transparent;
    transition: 0.5s;
}

.HPback #backbtn:hover{
<<<<<<< HEAD
    color: #45AAFF;
=======
    color: blue;
>>>>>>> dev
    transition: 0.5s;
}

